<form [formGroup]="form" (ngSubmit)="guardarTarjeta()">
    <!--titular-->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="this.form.get('Titular').valid"
                    [class.red-icon]="this.form.get('Titular').invalid && this.form.get('Titular').touched" ></i>
                </div>
            </div>

            <input type="text" class="form-control" formControlName="Titular" placeholder="Titular" >

        </div>

    </div>

<!--numero de tarjeta-->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-credit-card" [class.green-icon]="this.form.get('NumeroTarjeta').valid"
                    [class.red-icon]="this.form.get('NumeroTarjeta').invalid && this.form.get('NumeroTarjeta').touched"
                    ></i>
                </div>
            </div>

            <input type="text" class="form-control" formControlName="NumeroTarjeta" maxlength="16"  placeholder="Numero de Terjeta" >

        </div>

    </div>

    <!--fecha expiracion-->
    <div class ="row">
        <div class="form-group col-md-7">

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-calendar-alt" [class.green-icon]="this.form.get('FechaExpiracion').valid"
                            [class.red-icon]="this.form.get('FechaExpiracion').invalid && this.form.get('FechaExpiracion').touched"
                   
                            ></i>
                        </div>
                    </div>
        
                    <input type="text" class="form-control" formControlName="FechaExpiracion" maxlength="5"  placeholder="fecha expiracion" >
        
                </div>
        
            </div>
        </div>

<!--cvv-->

        <div class="form-group col-md-5">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-key" [class.green-icon]="this.form.get('cvv').valid"
                            [class.red-icon]="this.form.get('cvv').invalid && this.form.get('cvv').touched"
                   
                            ></i>
                        </div>
                    </div>
        
                    <input type="text" class="form-control" formControlName="cvv" maxlength="3"  placeholder="CVV" >
        
                </div>
        
            </div>
        </div>
    </div>
<div class="form-group">
    <button class="btn btn-success btn-lg btn-block" [disabled]="form.invalid" type="submit"><i class="fas fa-database"></i> Aceptar.</button>
</div>
</form>