/* You can add global styles to this file, and also import other style files */

input.ng-touched.ng-invalid{
    border-color: rgb(231, 24, 24);
}

input.ng-invalid{
    border-color: rgb(13, 131, 52);
}

.green-icon {
    color: rgb(13, 131, 52);
}

.red-icon{
    color: rgb(231, 24, 24);
}