<div class="jumbotrom">

    <h1 class="display-4 text-center">Targetas de credito</h1>
        <hr>
    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">

                Agregar Targeta
            </h6>
            <app-tarjeta-credito></app-tarjeta-credito>
        </div>
             <div class="col-md-7">
                <h6 class="text-center">

                    Listado de Targetas
                </h6>
                <app-list-tarjeta-credito></app-list-tarjeta-credito>
            </div>
    </div>

</div>
